.form-control {
  outline: none !important; /* Remove the blue outline */
  box-shadow: none !important; /* Remove the box shadow */
}

.custom-active-bg {
  background-color: #feefc3 !important; /* Set the background color to yellow */
  color: #202124 !important;
  cursor: pointer !important;
}

.custom-hover-bg:hover {
  background-color: #f0f0f0 !important; /* Set the hover background color to light yellow */
  cursor: pointer !important;
}

.pointer {
  cursor: pointer !important;
}

.button {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.button-click {
  border: 1px solid magenta;
}

.button:hover {
  border: 1px solid black;
}

.para {
  outline: none !important;
  box-shadow: none !important;
  word-break: break-word;
}

.take-note-card {
  max-width: 100%;
  overflow: hidden;
}

.custom-input {
  border: 3px solid #ffc107;
}

.custom-input:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25); /* Custom yellow shadow */
  border: 3px solid #ffc107;
}

.custom-label {
  margin-left: 13px;
  color: grey;
}

.warning-text {
  margin-left: 3px;
  width: 100%; /* Ensure warning text takes full width */
  font-size: 13px; /* Set font size */
  color: #6c757d; /* Text color */
}

/* Ensuring background remains white when autocomplete is active */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  color: black !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px; /* Adds space between grid items */
}

.note-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pin-heading {
  color: #202124;
  margin-left: 8px;
}

.scroll-overflow {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of track */
  border-radius: 10px; /* Rounded borders for the track */
}

/* Target the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c8c8c8; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for thumb */
  border: 3px solid #f1f1f1; /* Adds padding effect by showing the track color as the border */
}

/* Customize the width of the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
  height: 5px; /* Scrollbar height for horizontal scrollbars */
}
