.input-box-border:focus {
  outline: none; /* Removes the blue outline */
  box-shadow: none; /* Removes the shadow that might be applied */
  border-color: lightgray; /* Resets the border color */
}
